In [1]:
# import all the dependencies
from ind_var_clean import ind_var_clean
import pandas as pd

In [2]:
# extract the data from the csv
csv_path = '../../raw_data/ACT-Score-Data.csv'
df = pd.read_csv(csv_path)
df.head()

,School District Code,School District Tested,District Average Score,District Number Tested
0,601,Appling County,19.0,16.0
1,602,Atkinson County,NaN,NaN
2,603,Bacon County,NaN,NaN
3,604,Baker County,NaN,NaN
4,605,Baldwin County,15.6,41.0

In [3]:
# find the all the names of the columns in the data set
columns_list = df.columns
columns_list

Index(['School District Code', 'School District Tested',
       'District Average Score', 'District Number Tested'],
      dtype='object')

In [6]:
# populate the parameters for the clean data function
merge_column = columns_list[0]
test_column = columns_list
selection_column = columns_list[1]
output_name = 'act_data_clean'

In [10]:
# run the clean data function
ind_var_clean(df,merge_column,test_column,selection_column,output_name)