In [1]:
# import all the dependencies
from ind_var_clean import ind_var_clean
import pandas as pd

In [5]:
# extract the data from the csv
csv_path = '../../raw_data/Graduation_Rate_2019_Dec2nd_2019 (3).csv'
df = pd.read_csv(csv_path)
df.head()

,LONG_SCHOOL_YEAR,DETAIL_LVL_DESC,SCHOOL_DSTRCT_CD,SCHOOL_DSTRCT_NM,INSTN_NUMBER,INSTN_NAME,GRADES_SERVED_DESC,LABEL_LVL_1_DESC,PROGRAM_TOTAL,PROGRAM_PERCENT,TOTAL_COUNT
0,2018-19,District,601,Appling County,ALL,All Column Values,"PK,KK,01,02,03,04,05,06,07,08,09,10,11,12",Grad Rate -ALL Students,220.0,90.16,244.0
1,2018-19,District,601,Appling County,ALL,All Column Values,"PK,KK,01,02,03,04,05,06,07,08,09,10,11,12",Grad Rate -Active Duty,NaN,NaN,NaN
2,2018-19,District,601,Appling County,ALL,All Column Values,"PK,KK,01,02,03,04,05,06,07,08,09,10,11,12",Grad Rate -American Indian/Alaskan,NaN,NaN,NaN
3,2018-19,District,601,Appling County,ALL,All Column Values,"PK,KK,01,02,03,04,05,06,07,08,09,10,11,12",Grad Rate -Asian/Pacific Islander,NaN,NaN,NaN
4,2018-19,District,601,Appling County,ALL,All Column Values,"PK,KK,01,02,03,04,05,06,07,08,09,10,11,12",Grad Rate -Black,54.0,96.43,56.0

In [3]:
# find the all the names of the columns in the data set
columns_list = df.columns
columns_list

Index(['LONG_SCHOOL_YEAR', 'DETAIL_LVL_DESC', 'SCHOOL_DSTRCT_CD',
       'SCHOOL_DSTRCT_NM', 'INSTN_NUMBER', 'INSTN_NAME', 'GRADES_SERVED_DESC',
       'LABEL_LVL_1_DESC', 'PROGRAM_TOTAL', 'PROGRAM_PERCENT', 'TOTAL_COUNT'],
      dtype='object')

In [6]:
# populate the parameters for the clean data function
merge_column = 'SCHOOL_DSTRCT_CD'
test_column = ['School District Code', 'LABEL_LVL_1_DESC', 'PROGRAM_TOTAL', 'PROGRAM_PERCENT', 'TOTAL_COUNT']
selection_column = 'LABEL_LVL_1_DESC'
output_name = 'school_prog_grad_rate'

In [7]:
# run the clean data function
ind_var_clean(df,merge_column,test_column,selection_column,output_name)