In [5]:
# import all the dependencies
from ind_var_clean import ind_var_clean
import pandas as pd

In [6]:
# extract the data from the csv
csv_path = '../../raw_data/SAT-score-data.csv'
df = pd.read_csv(csv_path)
df.head()

,School District Code,School District Tested,District Average Score,District Number Tested
0,601,Appling County,1002.0,78
1,602,Atkinson County,952.0,57
2,603,Bacon County,1019.0,49
3,605,Baldwin County,915.0,122
4,606,Banks County,1055.0,53

In [7]:
# find the all the names of the columns in the data set
columns_list = df.columns
columns_list

Index(['School District Code', 'School District Tested',
       'District Average Score', 'District Number Tested'],
      dtype='object')

In [9]:
# populate the parameters for the clean data function
merge_column = columns_list[0]
test_column = ['School District Code', 'School District Tested', 'District Average Score', 'District Number Tested']
selection_column = 'School District Tested'
output_name = 'sat_data_clean'

In [10]:
# run the clean data function
ind_var_clean(df,merge_column,test_column,selection_column,output_name)